{% extends 'base.html' %}

{% block content %}
    <section class="py-10 px-4 mx-auto max-w-screen-xl text-center lg:py-14 lg:px-12 flex items-center flex-col position: relative">
        <div id="progress-container" class="hide position: absolute flex flex-col items-center bg-white w-80 lg:w-120 py-18 px-8 top-10 shadow-lg rounded-lg z-50">
            <button type="button" class="js-close-btn hide position: absolute top-2 right-2 text-center flex cursor-pointer items-center align-center justify-center w-8 h-8 text-sm bg-gray-100 rounded-full p-2 hover:bg-gray-200"><i class="fa-solid fa-xmark"></i></button>
            <div class="progress-bar">
                <div class="progress-bar-fill bg-gray-900" id="progress-fill"></div>
            </div>
            <div id="status-message" class="message info hidden"></div>
        </div>
        <h2 class="mb-2 text-2xl font-bold tracking-tight">YouTube Video Downloader</h2>
        <form method="post" class="" autocomplete="off">
            {{ form.hidden_tag()}}
            <div class="max-w-sm max-w-xl lg:w-120">
                <div class="input-container rounded-lg flex flex-row">
                    {{ form.link(autofocus="on", class="input-text url-input") }}
                    {% for error in form.link.errors %}
                        <span class="text-sm text-red-800">{{ error }}</span>
                    {% endfor %}

                    <button type="submit" class="start-btn bg-gray-900 text-white py-3 px-8 cursor-pointer rounded-lg hover:bg-gray-800">
                        <span class="start-text">Start</span>
                        <div class="loader hide"></div>
                    </button>
                </div>
            </div>
            <div class="display-card">
            {% if info %}
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg mt-20 p-3 max-w-xl lg:w-120 position: relative">
                <div class="position: absolute -top-13 left-0 border border-gray-200 p-1 rounded-lg bg-white">
                    <button type="button" class="px-7 py-2 cursor-pointer bg-gray-900 text-white rounded-lg js-video-button">Video</button>
                    <button type="button" class="px-7 py-2 cursor-pointer js-audio-button text-gray-900 rounded-lg">Audio</button>
                </div>
                <!-- Video container starts -->
                <div class="js-video-container">
                    <div class="flex flex-row justify-between align-center">
                        <img src="{{ info['thumbnail'] }}" alt="Video thumbnail" class="rounded-lg h-24">
                        <h2 class="text-sm lg:text-xl px-3 font-semibold tracking-tight text-left">{{ info['video_title'] }}</h2>
                    </div>
                    <div class="flex flex-row items-center md:flex-row md:max-w-xl mt-4">
                        <select name="quality" id="quality" class=" border border-gray-300 text-gray-900 rounded-lg focus:ring-gray-900 focus:border-gray-900 block w-full xmlns.5">
                            <option disabled selected value="">-- Choose video quality --</option>
                            <option value="1080">1080p</option>
                            <option value="720">720p</option>
                            <option value="360">360p</option>
                        </select>
                        <button type="submit" name="action" value="download-video" class="bg-gray-900 text-white rounded-lg py-2 px-4 cursor-pointer hover:bg-gray-800 mx-2 video-download-btn">Download</button>
                    </div>
                </div>
                <!-- video container ends -->
                <!-- Audio container starts -->
                <div class="js-audio-container hide">
                    <div class="flex flex-row justify-between align-center">
                        <img src="{{ info['thumbnail'] }}" alt="Video thumbnail" class="rounded-lg h-24">
                        <h2 class="text-sm lg:text-xl text-left px-3 font-semibold tracking-tight">{{ info['video_title'] }} - audio</h2>
                    </div>
                    <div class="flex flex-row items-center md:flex-row md:max-w-xl mt-4">
                        <div class="border border-gray-300 text-gray-900 rounded-lg py-2 px-4 w-full xmlns.5">
                            Audio Mp3
                        </div>
                        <button type="submit" name="action" value="download-audio" id="audio-download-btn" class="bg-gray-900 text-white rounded-lg py-2 px-4 cursor-pointer hover:bg-gray-800 mx-2">Download</button>
                    </div>
                </div>
                <!-- Audio container ends -->
            </div>
        {% endif %}
            </div>
        </form>
    </section>
    <!-- Some JS-->
     <!-- Connect with socketio -->
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='index.js')}}"></script>
{% endblock %}