{% extends 'base.html' %}

{% block content %}

    <section class="py-10 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
        <h2 class="mb-2 text-2xl font-bold tracking-tight">YouTube Video Downloader</h2>
        <form method="post" class="" autocomplete="off"> 
            {{ form.hidden_tag()}}
            <div class="max-w-sm">
                <div class="input-container flex flex-row max-w-screen-xl">
                    {{ form.link(autofocus="on", class="input-text") }}
                    {% for error in form.link.errors %}
                        <span class="text-sm text-red-800">{{ error }}</span>
                    {% endfor %}

                    <button type="submit" class="bg-gray-900 text-white py-3 px-8 start-button hover:bg-gray-800">Start</button>
                </div>
            </div>
            {% if info %}
                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm mt-6 p-4">
                    <div class="">
                        <img src="{{ info['thumbnail'] }}" alt="Video thumbnail" class="rounded-t-lg">
                        <h2 class="mb-2 text-xl font-semibold tracking-tight">{{ info['video_title'] }}</h2>
                    </div>
                    <div class="flex flex-row items-center md:flex-row md:max-w-xl p-4">
                        <select name="quality" id="quality" class=" border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full xmlns.5">
                            <option disabled selected>-- Choose quality --</option>
                            <option value="1080">1080p</option>
                            <option value="720">720p</option>
                            <option value="360">360p</option>
                        </select>
                        <button type="submit" name="action" value="download" class="bg-gray-900 text-white rounded-lg py-2 px-4 cursor:pointer hover:bg-gray-800 mx-2">Download</button>
                    </div>
                    
                </div>
            {% endif %}
        </form>
        {% if response %}
            <span>{{ response['message'] }}</span>
        {% endif %}
    </section>
    
{% endblock %}