{% extends 'base.html' %}

{% block content %}
    <section class="py-10 px-4 mx-auto max-w-screen-xl text-center lg:py-14 lg:px-12 flex items-center flex-col">
        <h2 class="mb-2 text-2xl font-bold tracking-tight">YouTube Video Downloader</h2>
        <form method="post" class="" autocomplete="off"> 
            {{ form.hidden_tag()}}
            <div class="max-w-sm max-w-xl lg:w-120">
                <div class="input-container rounded-lg flex flex-row">
                    {{ form.link(autofocus="on", class="input-text") }}
                    {% for error in form.link.errors %}
                        <span class="text-sm text-red-800">{{ error }}</span>
                    {% endfor %}

                    <button type="submit" class="bg-gray-900 text-white py-3 px-8 cursor-pointer rounded-lg hover:bg-gray-800">Start</button>
                </div>
            </div>
        {% if info %}
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg mt-20 p-3 max-w-xl lg:w-120 position: relative">
                <div class="position: absolute -top-13 left-0 border border-gray-200 p-1 rounded-lg bg-white">
                    <button type="button" class="px-7 py-2 cursor-pointer bg-gray-900 text-white rounded-lg js-video-button">Video</button>
                    <button type="button" class="px-7 py-2 cursor-pointer js-audio-button text-gray-900 rounded-lg">Audio</button>
                </div>
                <!-- Video container starts -->
                <div class="js-video-container">
                    <div class="flex flex-row justify-between">
                        <img src="{{ info['thumbnail'] }}" alt="Video thumbnail" class="rounded-lg h-24">
                        <h2 class="m-2 text-xl font-semibold tracking-tight text-left">{{ info['video_title'] }}</h2>
                    </div>
                    <div class="flex flex-row items-center md:flex-row md:max-w-xl mt-4">
                        <select name="quality" id="quality" class=" border border-gray-300 text-gray-900 rounded-lg focus:ring-gray-900 focus:border-gray-900 block w-full xmlns.5">
                            <option disabled selected>-- Choose video quality --</option>
                            <option value="1080">1080p</option>
                            <option value="720">720p</option>
                            <option value="360">360p</option>
                        </select>
                        <button type="submit" name="action" value="download-video" class="bg-gray-900 text-white rounded-lg py-2 px-4 cursor-pointer hover:bg-gray-800 mx-2">Download</button>
                    </div>
                </div>
                <!-- video container ends -->
                <!-- Audio container starts -->
                <div class="js-audio-container hide">
                    <div class="flex flex-row justify-between">
                        <img src="{{ info['thumbnail'] }}" alt="Video thumbnail" class="rounded-lg h-24">
                        <h2 class="m-2 text-xl text-left font-semibold tracking-tight">{{ info['video_title'] }} - audio</h2>
                    </div>
                    <div class="flex flex-row items-center md:flex-row md:max-w-xl mt-4">
                        <div class="border border-gray-300 text-gray-900 rounded-lg py-2 px-4 w-full xmlns.5">
                            Audio Mp3
                        </div>
                        <button type="submit" name="action" value="download-audio" class="bg-gray-900 text-white rounded-lg py-2 px-4 cursor-pointer hover:bg-gray-800 mx-2">Download</button>
                    </div>
                </div>
                <!-- Audio container ends -->
            </div>
            {% endif %}
        </form>
    </section>
    <!-- Some JS-->
    <script>
        const audioBtnEl = document.querySelector('.js-audio-button');
        const videoBtnEl = document.querySelector('.js-video-button');
        // containers
        const videoContainerEl = document.querySelector('.js-video-container');
        const audioContainerEl = document.querySelector('.js-audio-container');

        // Add event on click
        audioBtnEl.addEventListener('click', () => {
            if(videoBtnEl.classList.contains('bg-gray-900')){
                videoBtnEl.classList.remove('bg-gray-900');
                videoBtnEl.classList.remove('text-white');
                videoBtnEl.classList.add('text-gray-900');
                audioBtnEl.classList.add('bg-gray-900');
                audioBtnEl.classList.add('text-white');
                audioContainerEl.classList.remove('hide');
                videoContainerEl.classList.add('hide');
            }
        });
        videoBtnEl.addEventListener('click', () => {
            if(audioBtnEl.classList.contains('bg-gray-900')){
                audioBtnEl.classList.remove('bg-gray-900');
                audioBtnEl.classList.remove('text-white');
                audioBtnEl.classList.add('text-gray-900');
                videoBtnEl.classList.add('bg-gray-900');
                videoBtnEl.classList.add('text-white');
                videoContainerEl.classList.remove('hide');
                audioContainerEl.classList.add('hide');
            }
        });
    </script>
{% endblock %}